/* put your styles here */

:root {
  --topband-height: 50px;
  --primary-red: #ef5350;
}

body {
  margin: 0;
}

.topband {
  height: var(--topband-height);
  background: var(--primary-red);
}

.pokemon-details {
  top: var(--topband-height);
}

.item {
  width: fit-content;
}