<div class="pokemon-details p-4 sm:w-full md:w-3/6 lg:w-3/6 bottom-0 fixed bg-white right-0 overflow-auto shadow-md">
    <div class="float-right text-4xl cursor-pointer">
        <LinkTo @route="pokemons">
            &times;
        </LinkTo>
    </div>

    {{!-- <PokeItem @pokemon={{this.model}} /> --}}

</div>